/* Estructura de CSS  ///////////////////////////////////////////////////

selector {
    propiedad : valor;
}
*/

/*
Selectores  ///////////////////////////////////////////////////////////

universal     --> *
De tipo       --> por estiquetas "h1, button, etc"
clase         --> .nombreclase
ID            --> #nombreid
por atributo  --> [nombreatributo]
descendiente  --> primero el contenedor y despues lo que este dentro del contenedor
pseudo-clases --> hover, active
*/

/*universal*/
*{
    color: blueviolet;
}
/*de tipo*/
h1{
    color: aquamarine;
}
/*clase*/
.h2{
    color: rebeccapurple;
}
/*ID*/
#h2{
    color: red;
}
/*por atributo*/
[atributo="titulo3"]{
    color: brown;
}
/*descendiente*/
h2 p{
    color: black;
}
/*pseudo-clase*/
b:hover{
    color: red;
}

/*
Especificidad  ///////////////////////////////////////////////////////
es el nivel de importacia o gerarquia "de abajo lo menos importante, lo de arriba los mas importante"

!important
-------------------
estilos en linea
-------------------
identificadores
-------------------
clases
pseudo-clases
atributos
-------------------
elementos
pseudo-elementos
*/

/*
Metodologia BEM ///////////////////////////////////////////////////////

Se define por medio de las __

y los -- para marcar que es distinto a los demas

*/
.contact-form__p-h2{
    font-size: 25px;
    color: red;
}


/*
Medias ////////////////////////////////////////////////////////////////

* relativas --> son bariables y se adactan a las distintas resoluciones y son "rem y em"
* fijas     --> pixeles, centimetros, etc

*/

.contact-form{
    font-size: 25px;
}

.contact-form__h2{
    font-size: 2em;
    font-family: sans-serif;
    color: blue;
}

/* 
Propiedades de Caja ////////////////////////////////////////////////////////////////
*/ 

h3 {
    background-color: red;
    display: inline-block;
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px 10px;
    border-radius: 10px;
    border: 5px solid blue;
    box-shadow: 2px 4px 15px 3px grey;
    text-shadow: 2px 3px 7px white;
    transform: rotate(5deg);
}

/*
Outline  ///////////////////////////////////////////////////////////////////////////
no come espacio
*/

.caja1 {
    width: 200px;
    height: 200px;
    background: red;
    margin: auto;
}

.caja2 {
    width: 200px;
    height: 200px;
    background: yellow;
    margin: auto;
}